body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #1e293b;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.card input {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.card button {
  padding: 10px;
  background: #38bdf8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background: #1e293b;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.sidebar input {
  padding: 8px;
  margin-bottom: 5px;
}

.sidebar button {
  padding: 8px;
  margin-bottom: 10px;
}

.chatList {
  overflow-y: auto;
}

.chatItem {
  padding: 10px;
  background: #334155;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.chatArea {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.msg {
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
  display: flex;
  flex-direction: column;
}

.me {
  background: #38bdf8;
  align-self: flex-end;
}

.other {
  background: #334155;
}

.msg small {
  font-size: 10px;
  opacity: 0.7;
}

.inputBox {
  display: flex;
  padding: 10px;
  background: #1e293b;
}

.inputBox input {
  flex: 1;
  padding: 10px;
  border: none;
}

.inputBox button {
  padding: 10px;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  opacity: 0.6;
}

.navbar {
  display: flex;
  gap: 10px;
  padding: 10px;
  background: #020617;
  border-bottom: 1px solid #1e293b;
}

.navbar button {
  padding: 8px 12px;
  background: #1e293b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar button:hover {
  background: #334155;
}
